@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i");
body {
  overflow: auto;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%; }

h1, h2, h3, h4, h6, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

/*preloder*/
.cut {
  overflow: hidden; }

#preloader {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1050;
  background-color: #fff;
  -webkit-transition: top 500ms linear 500ms;
  -o-transition: top 500ms linear 500ms;
  transition: top 500ms linear 500ms; }

#pulsar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1px;
  height: 1px;
  z-index: 100;
  background-color: transparent;
  opacity: 1;
  border-radius: 100%;
  border: 7px solid #ef686c;
  -webkit-box-shadow: 2px 2px 20px 1px #6b6e7180;
  box-shadow: 2px 2px 20px 1px #6b6e7180;
  -webkit-animation: pulsar 2s infinite;
  animation: pulsar 2s infinite;
  -webkit-transition: all 200ms linear 0s;
  -o-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s; }

.pulsar__dot {
  width: 10px;
  height: 10px;
  background-color: #ef686c;
  border-radius: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-animation: pulsardot 2s infinite;
  animation: pulsardot 2s infinite; }

#pulsar.hide {
  opacity: 0; }

#preloader.moveUp {
  top: -1500px; }

@-webkit-keyframes pulsardot {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(5);
    transform: scale(5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsardot {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(5);
    transform: scale(5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes pulsar {
  0% {
    width: 1px;
    height: 1px; }
  50% {
    width: 100px;
    height: 100px; }
  100% {
    width: 1px;
    height: 1px; } }

@keyframes pulsar {
  0% {
    width: 1px;
    height: 1px; }
  50% {
    width: 100px;
    height: 100px; }
  100% {
    width: 1px;
    height: 1px; } }

/*preloder*/
.btn:focus, .form-control:focus {
  outline: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-control:focus {
  border-color: #4a4a4a; }

/*nav bar area start*/
.shrink {
  padding: 0 !important;
  margin: 0 !important;
  background: -webkit-linear-gradient(300deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  background: -o-linear-gradient(300deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .shrink .navbar-brand img {
    width: 80% !important; }
  .shrink ul button {
    margin-top: 0px !important;
    padding: 10px 30px !important; }
  .shrink .container {
    width: 95%; }

.navbar .active1 .nav-link {
  color: #64b1ff !important; }

.navbar .navbar-toggler {
  outline: none !important; }

.navbar .customize-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar .navbar-nav {
  text-transform: uppercase; }
  .navbar .navbar-nav .nav-item {
    padding-top: 5px; }
    .navbar .navbar-nav .nav-item .nav-link {
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 12px;
      padding-right: 30px;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }

.navbar .customize {
  border: 1px solid #fff; }

.navbar .navbar-toggler-icon {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.navbar .open {
  border: none; }
  .navbar .open .customize-icon {
    height: 3px;
    width: 40px;
    background: #fff;
    position: relative;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .navbar .open .customize-icon::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 40px;
      background: #fff;
      top: 0;
      left: 0;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.navbar .navbar-brand {
  width: 15%; }

/*nav bar area end*/
/*home  araa start*/
#home_area {
  height: 985px; }
  #home_area .shape {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
  #home_area .shape-style {
    overflow: hidden;
    background: -webkit-linear-gradient(300deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
    background: -o-linear-gradient(300deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
    background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
    height: 940px;
    width: 100%; }
    #home_area .shape-style::before {
      content: '';
      position: absolute;
      background: url(../img/waves_shape.png) no-repeat;
      height: 100%;
      width: 100%;
      top: 82%; }
    #home_area .shape-style .para {
      position: absolute; }
      #home_area .shape-style .para .circle {
        border-radius: 100px 130px 100px 315px;
        width: 150px;
        height: 150px;
        background: #53f;
        position: absolute; }
      #home_area .shape-style .para .circle-1 {
        bottom: auto;
        left: -27px;
        top: -18px;
        background: rgba(255, 255, 255, 0.1); }
      #home_area .shape-style .para .circle-2 {
        top: 6em;
        background: rgba(255, 255, 255, 0.1);
        width: 50px;
        height: 50px;
        left: 102em; }
      #home_area .shape-style .para .circle-3 {
        top: 16em;
        left: 108em;
        background: rgba(255, 255, 255, 0.3);
        width: 50px;
        height: 50px; }
      #home_area .shape-style .para .circle-4 {
        background: rgba(255, 255, 255, 0.15);
        top: 17em;
        left: 105em;
        width: 75px;
        height: 75px; }
      #home_area .shape-style .para .circle-5 {
        top: 23em;
        right: auto;
        left: 1em;
        background: rgba(255, 255, 255, 0.05);
        width: 100px;
        height: 100px; }
      #home_area .shape-style .para .circle-6 {
        top: 30em;
        left: 38em;
        width: 170px;
        height: 200px;
        background: rgba(255, 255, 255, 0.15); }
      #home_area .shape-style .para .circle-7 {
        top: 20em;
        left: 67em;
        background: rgba(255, 255, 255, 0.04);
        width: 50px;
        height: 50px; }
      #home_area .shape-style .para .circle-8 {
        top: 44em;
        left: 100em;
        background: rgba(255, 255, 255, 0.2);
        width: 100px;
        height: 100px; }
      #home_area .shape-style .para .circle-9 {
        bottom: 12%;
        background: rgba(255, 255, 255, 0.1);
        top: 45em;
        left: 105em;
        width: 50px;
        height: 50px; }
      #home_area .shape-style .para .circle-10 {
        top: 39em;
        left: 18em;
        background: rgba(255, 255, 255, 0.05);
        width: 100px;
        height: 100px; }
  #home_area .content-area {
    position: relative;
    top: 11em; }
    #home_area .content-area .text h2 {
      color: #fff;
      font-family: "Montserrat", sans-serif;
      text-transform: capitalize;
      font-size: 50px;
      font-weight: 200;
      line-height: 70px; }
      #home_area .content-area .text h2 span {
        font-weight: 500; }
    #home_area .content-area .d-button {
      padding: 15px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left; }
      #home_area .content-area .d-button .order-btn {
        background: #fff;
        color: #333;
        border: 1px solid #fff;
        text-transform: capitalize;
        margin-right: 15px;
        padding: 8px 12px;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 30px; }
        #home_area .content-area .d-button .order-btn:hover {
          border: 1px solid #fff;
          color: #fff;
          background: transparent;
          border-radius: 0px; }
      #home_area .content-area .d-button .outline {
        background: transparent;
        color: #fff; }
        #home_area .content-area .d-button .outline:hover {
          background: #fff;
          color: #333; }
    #home_area .content-area .mobile_carosual {
      position: relative;
      z-index: 1;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      #home_area .content-area .mobile_carosual .carousel_area {
        position: absolute;
        z-index: 2;
        top: 13px;
        left: 67px;
        width: 62%; }
        #home_area .content-area .mobile_carosual .carousel_area .owl-stage-outer {
          width: 100%;
          border-radius: 23px; }
        #home_area .content-area .mobile_carosual .carousel_area img {
          width: 217px;
          border-radius: 20px; }
        #home_area .content-area .mobile_carosual .carousel_area::before {
          content: '';
          background: url(../img/iphone-x-frame-head.png) no-repeat;
          position: absolute;
          height: 4%;
          width: 58%;
          z-index: 2;
          left: 43px;
          top: 0px; }
      #home_area .content-area .mobile_carosual .owl-nav button {
        margin-top: 15px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        outline: 0px !important;
        border-radius: 0px !important; }
        #home_area .content-area .mobile_carosual .owl-nav button span {
          color: #fff;
          font-size: 22px;
          padding: 0 5px; }
          #home_area .content-area .mobile_carosual .owl-nav button span:active, #home_area .content-area .mobile_carosual .owl-nav button span :focus {
            outline: 0px !important; }
        #home_area .content-area .mobile_carosual .owl-nav button:hover span {
          color: #442c99; }
        #home_area .content-area .mobile_carosual .owl-nav button:active, #home_area .content-area .mobile_carosual .owl-nav button :focus {
          outline: 0px !important;
          border-radius: 0px !important; }
    #home_area .content-area .owl-theme .owl-nav [class*=owl-]:hover {
      background: transparent; }

/*home  area end*/
/*custom_order area start*/
#custom_order .sec-tl-innr {
  position: relative; }
  #custom_order .sec-tl-innr h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding: 40px 0px;
    color: #543ba6; }
  #custom_order .sec-tl-innr .tl-shp {
    position: absolute;
    bottom: 0;
    left: 50%;
    border-left: 1px dashed #543ba6;
    border-radius: 50px;
    width: 1px;
    height: 35px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: -25px; }
    #custom_order .sec-tl-innr .tl-shp::before {
      height: 14px;
      width: 14px;
      border: 1px dashed #543ba6;
      border-radius: 50px;
      position: absolute;
      content: "";
      left: -7px;
      top: -14px; }
    #custom_order .sec-tl-innr .tl-shp::after {
      content: "";
      border: 1px dashed #543ba6;
      border-radius: 50px;
      height: 29px;
      width: 29px;
      position: absolute;
      bottom: -29px;
      left: -14.5px; }
  #custom_order .sec-tl-innr .tl-shp-inr {
    border-left: 1px dashed #543ba6;
    border-radius: 50px;
    width: 1px;
    height: 37px;
    position: absolute;
    right: -35px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: -33.5px; }
    #custom_order .sec-tl-innr .tl-shp-inr::before {
      content: "";
      height: 14px;
      width: 14px;
      border: 1px dashed #543ba6;
      border-radius: 50px;
      position: absolute;
      top: -14px;
      left: -7.5px; }

#custom_order .app-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #custom_order .app-section .app {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 40%; }
    #custom_order .app-section .app a {
      text-decoration: none; }
      #custom_order .app-section .app a .border-dgn {
        border: 6px solid transparent;
        border-radius: 100%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      #custom_order .app-section .app a img {
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-radius: 100%; }
      #custom_order .app-section .app a h3 {
        text-align: center;
        padding: 20px 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 400; }
    #custom_order .app-section .app:hover .border-dgn {
      border-color: #ef666a; }
    #custom_order .app-section .app:hover img {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); }

/*custom_order area end*/
/*features area start*/
#features .sec-tl-innr {
  position: relative; }
  #features .sec-tl-innr h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding: 40px 0px;
    color: #543ba6; }
  #features .sec-tl-innr .tl-shp {
    position: absolute;
    bottom: 0;
    left: 50%;
    border-left: 1px dashed #543ba6;
    border-radius: 50px;
    width: 1px;
    height: 35px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: -25px; }
    #features .sec-tl-innr .tl-shp::before {
      height: 14px;
      width: 14px;
      border: 1px dashed #543ba6;
      border-radius: 50px;
      position: absolute;
      content: "";
      left: -7px;
      top: -14px; }
    #features .sec-tl-innr .tl-shp::after {
      content: "";
      border: 1px dashed #543ba6;
      border-radius: 50px;
      height: 29px;
      width: 29px;
      position: absolute;
      bottom: -29px;
      left: -14.5px; }
  #features .sec-tl-innr .tl-shp-inr {
    border-left: 1px dashed #543ba6;
    border-radius: 50px;
    width: 1px;
    height: 37px;
    position: absolute;
    right: -35px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: -33.5px; }
    #features .sec-tl-innr .tl-shp-inr::before {
      content: "";
      height: 14px;
      width: 14px;
      border: 1px dashed #543ba6;
      border-radius: 50px;
      position: absolute;
      top: -14px;
      left: -7.5px; }

#features .features_content {
  padding: 60px 0px; }
  #features .features_content .features-area {
    position: relative; }
    #features .features_content .features-area .circel {
      height: 80px;
      width: 80px;
      background: #3f85dc;
      position: absolute;
      border-radius: 100%;
      border: 5px solid transparent;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #features .features_content .features-area .circel h1 {
        text-align: center;
        padding: 8px 0;
        color: #fff; }
      #features .features_content .features-area .circel p {
        text-align: justify;
        font-family: "Montserrat", sans-serif;
        font-weight: 400; }
        #features .features_content .features-area .circel p a {
          font-size: 18px;
          color: #3f85dc; }
    #features .features_content .features-area:hover .circel {
      background: transparent;
      border: 5px solid #ef666a; }
      #features .features_content .features-area:hover .circel h1 {
        color: #3f85dc; }

#features .left .circel {
  left: 81%; }

#features .left p {
  width: 78%; }

#features .right .circel {
  left: -16px !important; }

#features .right p {
  margin-left: 77px; }

#features .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4); }

/*features area end*/
/*get it now area start*/
#get {
  background: -webkit-linear-gradient(300deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  background: -o-linear-gradient(300deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  padding: 70px 0;
  position: relative; }
  #get h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff; }
  #get .d-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #get .d-button .order-btn {
      background: #fff;
      color: #333;
      border: 1px solid #fff;
      text-transform: capitalize;
      padding: 12px 45px;
      margin: 0 25px;
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 22px; }
      #get .d-button .order-btn:hover {
        border: 1px solid #fff;
        color: #fff;
        background: transparent;
        border-radius: 0px; }
    #get .d-button .outline {
      background: transparent;
      color: #fff; }
      #get .d-button .outline:hover {
        background: #fff;
        color: #333; }
  #get::before {
    content: '';
    position: absolute;
    background: url(../img/waves_shape.png) no-repeat;
    height: 22%;
    width: 100%;
    top: 154px; }

/*get it now area end*/
/*contact ara start*/
#contact {
  background: #ccd8ef3b; }
  #contact .sec-tl-innr {
    position: relative; }
    #contact .sec-tl-innr h2 {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 45px;
      font-weight: 700;
      padding: 40px 0px;
      color: #543ba6; }
    #contact .sec-tl-innr .tl-shp {
      position: absolute;
      bottom: 0;
      left: 50%;
      border-left: 1px dashed #543ba6;
      border-radius: 50px;
      width: 1px;
      height: 35px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-left: -25px; }
      #contact .sec-tl-innr .tl-shp::before {
        height: 14px;
        width: 14px;
        border: 1px dashed #543ba6;
        border-radius: 50px;
        position: absolute;
        content: "";
        left: -7px;
        top: -14px; }
      #contact .sec-tl-innr .tl-shp::after {
        content: "";
        border: 1px dashed #543ba6;
        border-radius: 50px;
        height: 29px;
        width: 29px;
        position: absolute;
        bottom: -29px;
        left: -14.5px; }
    #contact .sec-tl-innr .tl-shp-inr {
      border-left: 1px dashed #543ba6;
      border-radius: 50px;
      width: 1px;
      height: 37px;
      position: absolute;
      right: -35px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: -33.5px; }
      #contact .sec-tl-innr .tl-shp-inr::before {
        content: "";
        height: 14px;
        width: 14px;
        border: 1px dashed #543ba6;
        border-radius: 50px;
        position: absolute;
        top: -14px;
        left: -7.5px; }
  #contact iframe {
    height: 375px;
    width: 100%;
    -webkit-box-shadow: 0px 16px 9px -15px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 16px 9px -15px rgba(0, 0, 0, 0.44); }
  #contact .contact .address {
    position: relative;
    padding: 40px 0; }
    #contact .contact .address i {
      position: absolute;
      color: #24b4b9;
      font-size: 35px; }
    #contact .contact .address p {
      font-family: "Montserrat", sans-serif;
      text-align: left !important;
      color: #756b75;
      font-weight: 400;
      font-size: 20px;
      padding: 0 55px 35px; }
  #contact .contact .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left; }
    #contact .contact .social-icons a {
      text-decoration: none;
      border: 1px solid #909090;
      border-radius: 50px;
      height: 50px;
      width: 50px;
      margin: 0 5px;
      text-align: center;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #contact .contact .social-icons a i {
        font-size: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 8px 0; }
      #contact .contact .social-icons a:first-child {
        color: #fff;
        background: #3b5999; }
      #contact .contact .social-icons a:nth-child(2) {
        color: #fff;
        background: #cd201f; }
      #contact .contact .social-icons a:nth-child(3) {
        color: #fff;
        background: #0077B5; }
      #contact .contact .social-icons a:hover:first-child {
        color: #3b5999;
        background: #fff; }
      #contact .contact .social-icons a:hover:nth-child(2) {
        color: #cd201f;
        background: #fff; }
      #contact .contact .social-icons a:hover:nth-child(3) {
        color: #0077B5;
        background: #fff; }

/*contact ara end*/
/*footer area star*/
#footer {
  padding: 10px 0px;
  background: #273250; }
  #footer p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 20px; }
    #footer p span {
      color: #ef686c;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #footer p a {
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #footer p a:hover span {
        color: #fff; }

/*footer area end*/
/*============responsiv==========*/
/*navbar*/
@media only screen and (max-width: 768px) {
  .navbar ul {
    text-align: center; } }

/*home area start*/
@media only screen and (max-width: 575px) {
  #home_area .shape-style {
    height: 1020px; }
    #home_area .shape-style::before {
      top: 91%; }
  #home_area .content-area {
    top: 7em; }
    #home_area .content-area .text h2 {
      font-size: 24px;
      text-align: center; }
    #home_area .content-area .d-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    #home_area .content-area .mobile_carosual {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      top: 25%; }
      #home_area .content-area .mobile_carosual .phone {
        width: 48%; }
      #home_area .content-area .mobile_carosual .carousel_area {
        top: 10px;
        left: 29%;
        width: 42%; }
        #home_area .content-area .mobile_carosual .carousel_area .owl-stage-outer {
          width: 100%;
          border-radius: 15px; }
        #home_area .content-area .mobile_carosual .carousel_area img {
          height: auto; }
        #home_area .content-area .mobile_carosual .carousel_area::before {
          display: none; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #home_area .shape-style {
    height: 945px; }
    #home_area .shape-style::before {
      content: '';
      top: 91%; }
  #home_area .content-area {
    top: 7em; }
    #home_area .content-area .text h2 {
      font-size: 37px;
      text-align: center; }
    #home_area .content-area .d-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    #home_area .content-area .mobile_carosual {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      top: 7%; }
      #home_area .content-area .mobile_carosual .phone {
        width: 48%; }
      #home_area .content-area .mobile_carosual .carousel_area {
        top: 13px;
        left: 29%;
        width: 42%; }
        #home_area .content-area .mobile_carosual .carousel_area .owl-stage-outer {
          width: 100%;
          border-radius: 15px; }
        #home_area .content-area .mobile_carosual .carousel_area img {
          border-radius: 0px;
          height: 462px; }
        #home_area .content-area .mobile_carosual .carousel_area::before {
          width: 59%;
          left: 42px;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          top: 0px;
          height: 4%; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #home_area .content-area {
    top: 17em; }
    #home_area .content-area .text h2 {
      font-size: 33px; }
    #home_area .content-area .mobile_carosual {
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4); }
      #home_area .content-area .mobile_carosual .phone {
        width: 72%; }
      #home_area .content-area .mobile_carosual .carousel_area {
        top: 9px;
        left: 40px;
        width: 63%; }
        #home_area .content-area .mobile_carosual .carousel_area .owl-stage-outer {
          width: 100%;
          border-radius: 15px; }
        #home_area .content-area .mobile_carosual .carousel_area img {
          border-radius: 0px;
          height: 285px; }
        #home_area .content-area .mobile_carosual .carousel_area::before {
          width: 97%;
          left: 2px;
          -webkit-transform: scale(0.6);
          -ms-transform: scale(0.6);
          transform: scale(0.6);
          top: -69px;
          height: 100%; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #home_area .content-area {
    top: 15em; }
    #home_area .content-area .text h2 {
      font-size: 45px; }
    #home_area .content-area .mobile_carosual {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
      #home_area .content-area .mobile_carosual .phone {
        width: 72%; }
      #home_area .content-area .mobile_carosual .carousel_area {
        top: 12px;
        left: 55px;
        width: 62%; }
        #home_area .content-area .mobile_carosual .carousel_area .owl-stage-outer {
          width: 100%;
          border-radius: 15px; }
        #home_area .content-area .mobile_carosual .carousel_area img {
          border-radius: 0px;
          height: 392px; }
        #home_area .content-area .mobile_carosual .carousel_area::before {
          width: 68%;
          left: 26px;
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
          top: -2px; } }

/*home area end*/
/*custom_order area start*/
@media only screen and (max-width: 767px) {
  #custom_order .app-section .app {
    padding: 30px 0px;
    width: 40%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #custom_order .app-section .app {
    width: 60%; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #custom_order .app-section .app {
    width: 50%; } }

/*custom_order area end*/
/*features area start*/
@media only screen and (max-width: 767px) {
  #features .features_content {
    padding: 0; }
  #features .img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #features .row {
    padding: 45px 0 !important; }
  #features .img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    height: 450px; }
  .left .circel {
    left: 71% !important; }
  .left p {
    width: 68% !important; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #features .row {
    padding: 45px 0 !important; }
  #features .left .circel {
    left: 81%; }
  #features .left p {
    width: 78%; }
  #features .right .circel {
    left: -16px !important; }
  #features .right p {
    margin-left: 77px; }
  #features .img {
    margin-left: 15px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@media only screen and (min-width: 100px) {
  #features .row {
    padding: 145px 0; } }

/*features area end*/
/*get area start*/
@media only screen and (max-width: 420px) {
  #get h2 {
    font-size: 30px;
    padding: 0; }
  #get .d-button {
    display: block; }
    #get .d-button .order-btn {
      padding: 5px 16px;
      display: block;
      margin: 15px 0; }
  #get::before {
    top: 270px !important; } }

@media only screen and (max-width: 767px) {
  #get h2 {
    font-size: 40px;
    padding: 30px 0; }
  #get .d-button .order-btn {
    padding: 5px 16px; }
  #get::before {
    height: 31%;
    top: 205px; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #get h2 {
    font-size: 40px; }
  #get .d-button .order-btn {
    padding: 5px 16px; }
  #get::before {
    height: 22%;
    top: 150px; } }

/*get area end*/
@media only screen and (max-width: 768px) {
  #contact p {
    text-align: center !important; }
  #contact .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; } }
